.side-drawer .MuiDrawer-paper {
  background-color: rgba(228, 228, 228, 0.05) !important;
}

.booking-drawer .MuiDrawer-paper {
  background-color: black;
  color: white;
}

legend span {
  color: white;
}