.side-drawer .MuiDrawer-paper {
  background-color: rgba(228, 228, 228, 0.05) !important;
}

.booking-drawer .MuiDrawer-paper {
  background-color: black;
  color: white;
  max-width: 960px;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px 20px 0 0;
  border: 1px solid rgb(49, 49, 49);
  border-bottom: none;
}

legend span {
  color: white;
}

.save-button {
  color: #00ffa2 !important;
}